body {
    margin: 0;
    font-family: 'Press Start 2P', 'Poppins', sans-serif;
    background: #8bd3a6;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* cursor: none;     */
}

.screen {
    padding: 40px;
    padding-bottom: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 3rem;
    margin-bottom: 10px;
}

.tasks {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    font-size: 2.5rem;

}

.common-tasks {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow: auto;
    font-size: 2.5rem;
    flex-wrap: wrap;
}
.task {
    background: #b9fbc0;
    padding: 12px;
    margin-top: 20px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.common-task {
    background: #b9fbc0;
    padding: 12px;
    margin-top: 20px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 23%;
    cursor: pointer;
}
.task.completed {
    opacity: 0.5!important;
    text-decoration: line-through;
}

.btn {
    background: #1b4332;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 6px 12px;
    font-size: 2.5rem;

}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
}

.points {
    background: #ffd60a;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 3rem;
}

.task-count {
    display: flex;
    align-content: end;
    flex-wrap: wrap;
    font-size: 3rem;
    justify-content: center;
}

#screensaver {
    cursor: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: black;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;
}

#screensaver img {
    max-width: 100%;
    max-height: 100%;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    display: none;
}

/* Firefox */
* {
    scrollbar-width: none;
}

/* IE y Edge antiguos */
* {
    -ms-overflow-style: none;
}

.header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.nav-icons {
    display: flex;
    gap: 8px;
}

.icon {
    width: 7rem;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    /* tamaño del icono dentro */
    border-radius: 0.75rem;
    background: #1b4332;
    color: white;
    text-decoration: none;
    padding-bottom: 1rem;
}

.icon.reverse-card{
   font-size: 6rem; 
    background: transparent;
    color: #1b4332;
}

.icon:active {
    transform: scale(0.9);
}
.icon.active{
    background:#ffd60a;
    color:#111;
}
.bmo-overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#8bd3a6;
    z-index:9999;
    display:flex;
    justify-content:center;
    align-items:center;
}

.bmo-screen{
    width:100%;
    height:100%;
    display:none;
}

.bmo-screen.active{
    display:flex;
    justify-content:center;
    align-items:center;
}

.bmo-message{
    color:black;
    text-align:center;
    font-family:'Press Start 2P', monospace;
    font-size: 3rem;
}

.bmo-message h1{
    margin-bottom:20px;
}
.bmo-loader {
    position: fixed;
    inset: 0;
    background: #8bd3a6;
    z-index: 9999;

    display: none;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}

.bmo-loader.active {
    display: flex;
}

.loader-content {
    text-align: center;
    color: #000;
    font-family: 'Press Start 2P', cursive;
}

.spinner {
    width: 60px;
    height: 60px;
    border: 6px solid rgba(0,0,0);
    border-top: 6px solid #00ffcc;
    border-radius: 50%;

    animation: spin 1s linear infinite;
    margin: 0 auto 20px;
}

.loader-text {
    font-size: 3rem;
    letter-spacing: 2px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.user-card-container {
    position: relative;
    border-radius: 20px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 8px solid #1b4332;
}

.user-card-container .user-photo img {
    border: 4px solid #1b4332;
    border-radius: 20px;
    background-color: #52916a;
}

.bmo-overlay {
    position: fixed;
    inset: 0;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bmo-screen {
    position: absolute;
    inset: 0;
    display: none;
    padding: 20px;
}

.bmo-screen.active {
    display: block;
}

.user-info {
    margin: 0 0 5px 0;
    padding: 1rem 4rem 4rem 4rem;
    font-size: 2rem;
}
/* 
.user-img{

} */

.points-icon{
    display: flex;
    height: inherit;
    align-content: center;
    flex-wrap: wrap;
}

#userCardName{
    font-size: 3rem;
}